<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- semi colon deliminated list of feed urls -->
		<add key="urls" value="http://ayende.com/blog/rss"/>
		<!-- Email addresses -->
		<add key="to" value=""/>
		<add key="from" value=""/>
		<add key="SendAllForNewFeeds" value="false"/>
	</appSettings>
	<connectionStrings>
		<add name="RavenDB" connectionString="DataDir=~\App_Data\Database" />
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" port="25" defaultCredentials="false"/>
			</smtp>
		</mailSettings>
	</system.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
